@font-face {
    font-family: BraahOne-Regular;
    src: url("../fonts/BraahOne-Regular.ttf");
}

@font-face {
    font-family: Comfortaa-VariableFont_wght;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: KonkhmerSleokchher-Regular;
    src: url("../fonts/KonkhmerSleokchher-Regular.ttf");
}

